__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/
env/
*.egg-info/
dist/
build/
.eggs/
*.egg
.mypy_cache/
.pytest_cache/
*.weights
*.h5
*.pb
.deepface/
storage/raw/*
!storage/raw/.gitkeep
storage/test_selfies/
storage/raw_olivetti/
storage/test_selfies_olivetti/
myvenv